<form method="post" action="/Personel/PersonelEkle">
    <input type="text" name="Ad" placeholder="Personel Adı" />
    <input type="text" name="Soyad" placeholder="Personel Soyadı" />
    <button type="submit">Personel Ekle</button>


</form>